/* 

主页面css样式
name：Asa_Zhou
data：2019/1/4

*/
html,
body {
  height: 100%;
  background: #f2f2f2;
}
html,
body,
button,
p,
div,
form,
input,
a,
i,
img,
span,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
}
ul, li {
  list-style: none;
}
a {
  text-decoration: none;
  out-line: none;
  color: #fff;
}
a:link {
  text-decoration: none;
}
/* 修改weiui */
.cancel {
  color: #2d88ff;
}
.weui-tabbar__item.weui-bar__item--on .weui-tabbar__label {
    color: #2d88ff;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  background: #2d88ff;
}
.swiper-container .swiper-pagination {
    bottom: 20px;
}
.weui-btn_primary {
  background: #2d88ff;
}
.weui-btn_primary:not(.weui-btn_disabled):active{
  color:rgba(255, 255, 255, 0.6);
  background: #2d88ff;
  opacity: 0.8;
}
.weui-form-preview {
  border-radius: 1.6em 1.6em 0 0;
  height: 100%;
}
.weui-label {
  color: #888;
}
.toolbar {
  height: 2em;
  line-height: 2em;
}
.toolbar-inner {
  height: 2em;
  line-height: 2em;
}
.toolbar-inner .title {
  height: 2em;
  font-size: 18px;
}
.toolbar-inner .close-select {
  height: 2em;
  font-size: 18px;
  color: #2d88ff;
}
.weui-cells_radio .weui-check:checked+.weui-icon-checked:before {
  color: #2d88ff;
}

/* 轮播图 */
.swiper-container {
  width: 100%;
}
.swiper-container img {
  display: block;
  width: 100%;
}

/* 菜单 */
.wrap-under {
    background: #fff;
    width: 12rem;
    height: 2rem;
    border-radius: 50% 50%  0 0;
    position: absolute;
    top: 4.7rem;
    left: -1rem;
    z-index: 1;
}
.weui-grid__icon {
  width: 4em;
  height: 4em;
}
/* 适配苹果plus6+ */
@media screen and (min-width:376px) and (max-width:415px) {
  .wrap-under {
    background: #fff;
    width: 24rem;
    height: 4rem;
    border-radius: 50% 50%  0 0;
    position: absolute;
    top: 8.9rem;
    left: -2.52rem;
    z-index: 2;
  }
}
/* 大于苹果6plus的隐藏 */
@media screen and (min-width:415px) {
  .wrap-under {
    display: none;
  }
}
/* 菜单 */
.wrap {
  background: #fff;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 2;
}
.wrap .wrap-father::before {
  border: none;
}
.wrap .wrap-chlid {
  border: none;
  padding: 0.6em;
}
.wrap .wrap-chlid::before, .wrap .wrap-chlid::after {
  border: none;
}

/* 我的 */
.header {
  width: 100%;
  height: 14em;
  background: #2d88ff;
  position: relative;
  display: flex;
  align-items: center;
}
.header .setting {
  width: 2em;
  height: 2em;
  position: absolute;
  top: 1.6em;
  right: 2em;
  background: url(../images/setting.png) no-repeat;
  background-size: 2em;
}
.header .personal-information {
  width: 100%;
  padding: 0 1.3em;
  position: relative;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}
.header .personal-information strong {
  display: inline-block;
  width: 1.2em;
  height: 2em;
  background: url(../images/arrow.png) no-repeat;
  background-size: 1.2em 2em;
}
.header .personal img {
  width: 7em;
  height: 7em;
  border-radius: 50%;
  border: 0.3em solid #f2f2f2;
  margin-right: 1em;
}
.header .personal {
  color: #f2f2f2;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.header .personal p {
  font-size: 20px;
  font-weight: 400;
}
.header .personal em {
  display: block;
  font-size: 16px;  
}
.header .personal span {
  font-size: 16px;
}

/* 我的账户 */
.account {
  text-align: center;
}
.account span {
  color: #333;
}
.account i {
  display: block;
  font-style: normal;
  font-size: 16px;
  color: #999;
  line-height: 2em;
}
.account .account-message {
  border-right: 1px dashed #ccc;
}
.account .account-message:nth-last-child(1) {
  border: none;
}

/* 头像 */
.bd .wrap-avatar {
  width: 4em;
  height: 4em;
  border-radius: 50%;
}
.demos-content-padded {
  padding: 2em;
}

/* 历史记录 */
.weui-media-box__hd img {
  border-radius: 50%;
}
.weui-media-box__bd .wrap-history {
  color: #555;
  font-size: 18px;
}
.weui-media-box__bd .wrap-history span {
  color: #333;
  font-size: 20px;
}
.weui-media-box__bd .wrap-history-bottom {
  color: #999;
}
.weui-media-box__bd .wrap-history-bottom span {
  font-size: 16px;
}
/* 修改密码 */
.change-password {
  width: 92%; 
  margin: 0 auto; 
}

/* 历史详情 */
.demos-header {
  text-align: center;
  height: 4em;
  line-height: 4em;
}
.history-record label {
  color: #2d88ff;
  font-size: 24px;
}
.history-record em {
  font-size: 48px;
}
.history-record-details label, .history-record-details span {
  color: #555;
  font-size: 16px;
}

/* 优惠车辆 */
.parking_information {
  display: none;
}