/* 

主页面css样式
name：Asa_Zhou
data：2019/1/4

*/
html,
body {
  height: 100%;
  background: #f2f2f2;
  overflow: hidden;
}
html,
body,
button,
p,
div,
form,
input,
a,
i,
img,
span,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
}
a {
  text-decoration: none;
  out-line: none;
  color: #fff;
}
a:link {
  text-decoration: none;
}
/* 修改weiui */
.cancel {
  color: #2d88ff;
}
.weui-tabbar__item.weui-bar__item--on .weui-tabbar__label {
    color: #2d88ff;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  background: #2d88ff;
}
.swiper-container .swiper-pagination {
    bottom: 20px;
}

/* 轮播图 */
.swiper-container {
  width: 100%;
}
.swiper-container img {
  display: block;
  width: 100%;
}

/* 菜单 */
.wrap-under {
    background: #fff;
    width: 12rem;
    height: 2rem;
    border-radius: 50% 50%  0 0;
    position: absolute;
    top: 5.9rem;
    left: -1rem;
    z-index: 1;
}
/* 适配苹果plus6+ */
@media screen and (min-width:376px) and (max-width:415px) {
  .wrap-under {
    background: #fff;
    width: 24rem;
    height: 4rem;
    border-radius: 50% 50%  0 0;
    position: absolute;
    top: 10.9rem;
    left: -2.52rem;
    z-index: 2;
  }
}
/* 大于苹果6plus的隐藏 */
@media screen and (min-width:415px) {
  .wrap-under {
    display: none;
  }
}
.wrap {
  background: #fff;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 2;
}
.wrap .wrap-father::before {
  border: none;
}
.wrap .wrap-chlid {
  border: none;
  padding: 0.6em;
}
.wrap .wrap-chlid p {
  line-height: 1.3em;
}
.wrap .wrap-chlid::before, .wrap .wrap-chlid::after {
  border: none;
}