/* 

主页面css样式
name：Asa_Zhou
data：2019/1/4

*/
html,
body {
  height: 100%;
  background: #f2f2f2;
  overflow: hidden;
}
html,
body,
button,
p,
div,
form,
input,
a,
i,
img,
span,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
}
a {
  text-decoration: none;
  color: #fff;
}
a:link, p:link, span:link {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
/* 修改weiui */
.cancel {
  color: #2d88ff;
}
.weui-tabbar__item.weui-bar__item--on .weui-tabbar__label {
    color: #2d88ff;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  background: #2d88ff;
}
.swiper-container .swiper-pagination {
    bottom: 20px;
}

.bd .wrap-avatar {
  width: 4em;
  height: 4em;
  border-radius: 50%;
}
.demos-content-padded {
  padding: 2em;
}